/* style.css */
body {
  background: #f4f7fb;
  font-family: Arial;
}
.cartao { background: white; }
#titulo { color: #2563eb; }

.apresentacao {
  color: #5e0303;
  background: #d2054d;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 50px;
  box-shadow: 0 0 20px rgba(255, 3, 3, 0.788);
  border-radius: 20px 50px 30px 15px;
}
.Natureza {
  color: #166534;
  background: #dcfce7;
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  width: 30%;
  margin: 60px;
  box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
}

.Games {
  color: #22d3ee;
  background: #0f172a;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: center;
  margin: 60px;
  width: 30%;
  box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
}

.Musica {
  color: #ffffff;
  background: #7c3aed;
  font-family: Georgia;
  font-size: 22px;
  text-align: center;
  margin: 60px;
  width: 30%;
  box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
}
.Natureza li{
  color: #1938749f
 
}